@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek);

/* 
	CSS Reset 
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .search_box p
{
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

body 
{
	line-height:1.5;
}
blockquote:before, blockquote:after, q:before, q:after 
{
	content:"";
}
blockquote, q 
{
	quotes:"" "";
}
a img 
{
	border:none;
}

.sticky, .bypostauthor
{
	font-weight: bold;
}

p {
	padding-top:0.4em;
	padding-bottom:0.4em;
}

p:empty {
	display: none;
}

.lightbox:hover .portfolio_single_img
{
	opacity: 0.7;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.thumb li a:hover, #footer .sidebar_widget li ul.thumb li a:hover, #content_wrapper .sidebar .content .posts.blog li a:hover img
{
	opacity: 0.7;
}

.portfolio_single_img, #footer .sidebar_widget li ul.thumb li a:hover, #content_wrapper .sidebar .content .posts.blog li a img
{
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
}

/*
	Global Layout
*/

body
{
	font-size: 13px;
	line-height: 155%;
	line-height: 1.55;
	font-family: 'Open Sans',Arial,Tahoma,Verdana,sans-serif;
	padding: 0;
	margin: 0;
	color: #636363;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

span.custom_font, .sc-chat-header .sc-chat-header-title
{
	font-family: 'Open Sans',Arial,Tahoma,Verdana,sans-serif !important;
}

a, #top_bar a
{
	color: #526271;
	text-decoration: none;
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
}

a.colorful, .ppb_desc a
{
	color: #76bb2c;
}

.post_color_date
{
	color: #76bb2c;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

a.colorful:hover, a.colorful:active, .ppb_desc a:hover, .ppb_desc a:active
{
	text-decoration: underline;
}

a:hover, .post_header h3 a:hover, .caption_breadcrumbs a:hover, .caption_breadcrumbs a:active
{
	color: #76bb2c;
	text-decoration: none;
}

a:active
{
	color: #333;
	text-decoration: none;
}

.sidebar_wrapper .ui-accordion .ui-accordion-header a
{
	font-size: 14px;
}

.sidebar_wrapper a:hover, .sidebar_wrapper a:active
{
	color: #76bb2c;
}

.sidebar_wrapper ul.twitter a, #footer .sidebar_widget li ul.twitter a
{
	color: #76bb2c;
}

.sidebar_wrapper ul.twitter a:hover, .sidebar_wrapper ul.twitter a:active, #footer .sidebar_widget li ul.twitter a:hover, #footer .sidebar_widget li ul.twitter a:active
{
	text-decoration: underline;
}

::selection {
	background: #526271;
	color: white;
	text-shadow: none;
}

img.alignright, div.alignright {float:right; margin:0.4em 0 1em 1.2em}
img.alignleft, div.alignleft {float:left; margin:0.4em 1.2em 1em 0}
img.aligncenter, div.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0.4em 0 .5em 1em}
a img.alignleft {float:left; margin:0.4em 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

hr {
	border-left: none;
	margin: 0;
	border: 0;
	background: transparent;
	display: block;
	border-bottom: 5px solid #e9ecec;
	clear:both;
	height: 0;
}

hr.hr_page_caption
{
	height: 5px;
	background: #fff;
}

hr.content_divider
{
	width: 100%;
}

body.home hr.content_divider.mainmenu
{
	margin-bottom: 0;
}

hr.content_divider.mainmenu
{
	position: relative;
	top: -5px;
}

hr.space
{
	margin-bottom: 15px;
}

div.thickline
{
	width: 100%;
	height: 5px;
	border-top: 5px solid #e9ecec;
	clear: both;
	background: #fff;
	margin: auto;
}

div.divider
{
	width: 100%;
	clear: both;
}

div.divider.one_fourth
{
	width: 25%;
}

div.divider.one_third
{
	width: 33%;
}

div.divider.one_half
{
	width: 50%;
}

div.divider.two_third
{
	width: 66%;
}

#wrapper
{
	width: 100%;
	margin: auto;
}

#footer 
{
	width: 100%;
	background: #333;
	border: 0;
	margin: auto;
	padding: 10px 0 0 0;
	color: #999;
	font-size: 11px;
}

#footer  .thickline
{
	background: #fff;
	margin-bottom: 0;
	height: 4px;
}

#footer a, #copyright a
{
	color: #999;
}

#footer a:hover, #copyright a:hover
{
	color: #76bb2c;
}

#footer ul.sidebar_widget
{
	width: 960px;
}

#copyright
{
	width: 100%;
	margin: auto;
	padding: 0;
	clear:both;
	letter-spacing: 0;
	background: #333;
	color: #fff;
	font-size: 11px;
}

.copyright_wrapper
{
	width:960px;
	margin:auto;
	border-top: 5px solid #444;
}

.copyright_wrapper .left_wrapper
{
	float:left;
	width:540px;
	margin: 18px 0 15px 0;
}

.copyright_wrapper .right_wrapper
{
	float: right;
	width: 380px;
	text-align: right;
	margin: 10px 0 15px 0;
}

pre, code, tt {font:12px 'andale mono', 'lucida console', monospace;line-height:1.5;display: block;word-wrap: break-word; color: #555; 
	overflow:auto; padding: 20px;
line-height: 19px; background: #f9f9f9; 
border-bottom: 2px solid #e5e5e5;
margin-top: 30px;
}

/*
	Input layout
*/

input[type=text], input[type=password], textarea
{
	padding: 10px 10px 10px 10px;
	margin: 0 5px 0 0;
	border: none;
	width: 80%;
	color: #666;
	line-height: 1;
	text-align: left;
	float: left;
	outline: none;
	border: 2px solid #E5E5E5;
	font-size: 13px;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, #searchform input[type=text]:focus
{
	border: 2px solid #76bb2c;
}

#footer input[type=text], #footer input[type=password], #footer textarea
{
	box-shadow: none;
}

input[type=text].blur, textarea.blur
{
	color: #999;
}

#footer input[type=text], #footer textarea
{
	background: #333;
	border: 1px solid #444;
	font-size: 11px;
}

#footer input[type=text].blur, #footer textarea.blur
{
	color: #666;
}

label
{
	font-weight:bold;
	font-size: 12px;
}

#contact_form
{
	margin-top: 20px;
}

#contact_form label, #commentform label
{
	margin-left: 10px;
	font-weight: bold;
}

#contact_form label
{
	margin-left: 10px;
	font-weight: bold;
	float: left;
	margin-top: 6px;
}

#commentform > p
{
	clear: both;
}

#contact_form label.error, #commentform label.error
{
	color: #AC1C20;
	float: left;
	margin-top: 6px;
	margin-bottom: 0;
	display: none !important;
	visibility: hidden;
	width: 0px;
}

#contact_form input, #contact_form textarea, #commentform input, #commentform textarea
{
	float: left;
	margin-bottom: 15px;
}

#commentform input[type=text]
{
	width: 50%;
}

#contact_form.style1 input
{
	margin-right: 8px;
}

.contact_style1_info
{
	margin: 10px 0 30px 0;
	color: #999;
	font-size: 16px;
	text-align: center;
}

input[type=submit], input[type=button], a.button
{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	padding: .5em 1em .6em 1em;
	color: #fff;
	text-shadow: none;
	font-weight: 500;
	border: solid 1px #34495E;
	background: #34495E;
	margin-right: 5px;
	font-family: 'Open Sans',Arial,Tahoma,Verdana,sans-serif;
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
	box-shadow: 0px 0px 0px black;
	-webkit-box-shadow: 0px 0px 0px black;
	-moz-box-shadow: 0px 0px 0px black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#footer input[type=submit], #footer input[type=button]
{
	font-size: 11px;
}

a.comment-reply-link
{
	margin-top: 3px;
	float: left;
	margin-left: 10px;
	font-size: 12px;
}

a.comment-reply-link:hover, a.comment-reply-link:active
{
	text-decoration: underline;
}

a.button
{
	padding-top:8px;
}

input[type=submit]:hover, input[type=button]:hover, a.button:hover
{	
	background: #76bb2c !important;
	color: #fff !important;
	border: 1px solid #76bb2c !important;	
}

input[type=submit].medium, input[type=button].medium, a.button.medium
{
	font-size: 14px;
}

input[type=submit].large, input[type=button].large, a.button.large
{
	font-size: 16px;
}
.slider_desc a.button.large
{
	float: right;
	margin-top: -25px;
	margin-right: 60px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.6);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.6);
	box-shadow: 0 1px 3px rgba(0,0,0,.6);
}

input[type=submit].left, input[type=button].left, a.button.left
{
	float: left;
}

input[type=submit].right, input[type=button].right, a.button.right
{
	float: right;
}

input[type=submit].center, input[type=button].center, a.button.center
{
	margin: auto;
}

#cancel-comment-reply-link
{
	font-size: 14px;
	color: #ef3b24;
	margin-left: 5px;
}

h1, h2, h3, h4, h5, h6, strong.comment_autor
{
	font-family: 'Open Sans',Arial,Tahoma,Verdana,sans-serif;
	font-weight: 600;
	color: #111;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

h1
{
	font-size: 26px;
}

h2
{
	font-size: 22px;
}

h2.error_header
{
	font-size: 100px;
	margin-top: 50px;
}

.error_desc
{
	margin-top: -5px;
	font-size: 16px;
	font-weight: bold;
}

h3
{
	font-size: 20px;
}

h3.post_heading
{
	font-weight: bold;
	font-size: 24px;
	letter-spacing: -1px;
}

h5.post_heading
{
	font-weight: bold;
	font-size: 20px;
	letter-spacing: -1px;
}

h3.post_heading a, h5.post_heading a
{
	color: #333;
}

h4
{
	font-size: 18px;
}

h4.member_name
{
	font-weight: bold;
}

h5
{
	font-size: 16px;
	letter-spacing: 0;
}

h5.service_header
{
	padding-left: 47px;
	font-weight: 600;	
}

.headingbg
{
	background: url('../images/heading_bg.png') 0 50% repeat-x;
	display: block;
	width: 100%;
}

.headingbg h3, .headingbg h5
{
	background-color: #fff;
	display: inline;
	padding-right: 10px;
}

.headingbg.center h3, .headingbg.center h5
{
	padding-left: 10px;
}

strong.comment_autor
{
	font-size: 16px;
	float: left;
}

h6
{
	font-size: 14px;
	letter-spacing: 0;
}

.margintop10
{
	margin-top: 10px;
}

.clear
{
	clear: both;
}

div.empty_line
{
	clear: both;
	height: 15px;
}

img.mid_align
{ 
	vertical-align: middle;
	margin-right: 5px;
	border: 0;
}

img.frame
{

}

.frame_left
{
	padding: 8px;
 	float: left;
 	margin: 0 20px 10px 0;
 	text-align: center;
 	background: #f9f9f9;
 	border: 1px solid #e5e5e5;
 	border-bottom: 2px solid #e5e5e5;
}

.frame_left .caption, .frame_right .caption, .frame_center .caption
{
	margin: 7px 0 2px 0;
	display: block;
	font-weight: bold;
}

.frame_right
{
	padding: 8px;
 	float: right;
 	margin: 0 0 10px 20px;
 	text-align: center;
 	background: #f9f9f9;
 	border: 1px solid #e5e5e5;
 	border-bottom: 2px solid #e5e5e5;
}

.frame_center
{
	padding: 8px;
 	margin: auto;
 	margin-top: 20px;
	margin-bottom: 20px;
 	text-align: center;
 	clear: both;
 	display: table;
 	background: #f9f9f9;
 	border: 1px solid #e5e5e5;
 	border-bottom: 2px solid #e5e5e5;
}

.dropcap
{
	display: block;
	float: left;
	margin: 4px 8px 0 0;
	font-size: 40px;
	line-height: 34px;
	color: #000;
	text-align: center;
}

.dropcap.box
{
	background: #000;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 28px;
}

.dropcap.circle
{
	background: #000;
	color: #fff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 28px;
}

.dropcap.book
{
	font-family: Georgia, Times, serif;
}

blockquote
{
	width: 90%;
	margin: 10px 0 10px 0;
	border-left: 5px solid #333;
	font-size: 18px;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: oblique;
	color: #333;
	padding: 0 20px 0 20px;
}

blockquote.left
{
	float: left;
	margin-right: 10px;
}

blockquote.right
{
	float: right;
	margin-left: 10px;
}

blockquote h2
{
	font-weight: normal;
	font-size: 22px;
	font-style: italic;
	font-family: Georgia, Times, serif;
	text-transform: none;
}

blockquote h3
{
	font-weight: normal;
	font-size: 20px;
}

#respond
{
	width: 100%;
	float: left;
	margin: 0 0 5px 0;
}

.comment_wrapper #respond
{
	margin: -10px 0 20px 5px;
	padding: 0 10px 0 20px;
	width: 95%;
}

.comment_wrapper ul.children #respond
{
	margin: 5px 0 5px 5px;
	padding: 0 0 0 20px;
	width: 87%;
}

.space
{
	margin-bottom: 10px;
}

#copyright .social_wrapper
{
	position: static;
	float: right;
	margin-top: 10px;
}

#footer .social_wrapper ul li img
{
	height: auto;
}

.social_wrapper
{
	float: right;
	list-style: none;
	margin-top: 0;
}

.social_wrapper li
{
	float: right;
	margin-left: 5px;
}

.social_wrapper li img
{
	height: 24px;
	opacity: 0.4;
	filter:alpha(opacity=40);
}

.social_wrapper li img:hover
{
	opacity: 1;
	filter:alpha(opacity=100);
}

#content_wrapper ul.social_wrapper.team
{
	float: left;
	margin-left: -10px;
}

.social_wrapper.team li
{
	margin: 0;
}

.social_wrapper.team li img
{
	opacity: 1;
	filter: alpha(opacity=100);
}

.member_item
{
	margin-bottom: 40px;
	margin-top: 10px;
}

.member_item_info
{
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
	padding: 15px 15px 15px 15px;
	border-bottom: 2px solid #e4e4e4;
	background: #f9f9f9;
	margin-top: -5px;
}

.member_item_info:hover
{
	border-bottom: 2px solid #76bb2c;
}

#top_bar
{
	height: 50px;
	width: 100%;
	margin: auto;
	font-size: 12px;
	border-bottom: 2px dotted #e5e5e5;
	font-size: 11px;
}

#top_bar_inner
{
	width: 960px;
	margin: auto;
}

.top_contact_info
{
	float: left;
	margin-top: 17px;
}

.top_contact_info ul
{
	list-style: none;
	float: right;
}

.top_contact_info ul li
{
	float: right;
	margin-left: 20px;
}

.top_bar_wrapper
{
	float: right;
}

.top_social
{
	margin-top: 15px;
}

.top_search
{
	float: right;
	margin-top: 8px;
}

.top_search .searchform input[type=text]
{
	width: 240px;
	margin: 5px 0 5px 0;
	background: #fff url('../images/search_magnify.png') no-repeat 10px 12px;
	padding: 10px 10px 10px 30px;
}

#top_bar .notice
{
	padding-top: 15px;
}

.button.top_contact_button
{
	float: right;
	margin-top: 7px;
	margin-left: 10px;
	margin-right: 0;
}

#top_menu
{
	list-style: none;
	float: left;
	background: #fff;
	border-bottom: 2px solid #e4e4e4;
	padding: 8px 15px 7px 15px;
	margin-top: 15px;
}

#top_menu li
{
	display: inline-block;
	margin-right: 5px;
	padding-right: 10px;
}

#top_menu li:last-child
{
	margin-right: 0;
}

#top_menu li a
{
	color: #555;
}

#top_menu li ul
{
	display: none;
}

#top_menu li a:hover, #top_menu li a:active
{
	text-decoration: underline;
}

#header_wrapper
{
	width: 100%;
	float: left;
	background: #fff;
}

body.admin-bar #header_wrapper
{
	top: 28px;
}

.header_bg
{
	background: #fff;
}

.logo
{
	float: left;
	margin: 35px 50px 30px 15px;
}

.search_box input[type=text]
{
	background: transparent;
	border: 0;
	margin: 1px 5px 0 5px;
	width: 140px;
}

.search_box img
{
	position: relative;
	top: 3px;
	left: -7px;
}

#menu_wrapper
{
	padding: 0;
	width: 960px;
	margin: auto;
}

#menu_border_wrapper div.notice
{
	float: right;
	margin-top: 32px;
}

#menu_wrapper .nav ul, #menu_wrapper div .nav
{
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	float: right;
	text-transform: uppercase;
}

#menu_wrapper .nav ul li, #menu_wrapper div .nav li
{
	display: block;
	float :left;
	margin: 0 0 0 0;
}

#menu_wrapper .nav ul li ul li, #menu_wrapper div .nav li ul li
{
	clear: both;
	width: 100%;
	padding: 0;
	margin: 0;
}

#menu_wrapper .nav ul li:last-child, #menu_wrapper div .nav li:last-child
{
	margin-right: 0;
}

#menu_wrapper .nav ul li a, #menu_wrapper div .nav li a
{
	display: inline-block;
	padding: 0;
	margin: 0;
	color: #333;
	font-size: 12px;
	padding: 50px 18px 35px 18px;
	font-weight: bold;
	border-bottom: 5px solid #fff;
}

#menu_wrapper .nav ul li:first-child a, #menu_wrapper div .nav li:first-child a
{

}

#menu_wrapper .nav ul li:last-child a, #menu_wrapper div .nav li:last-child a
{
	
}

#menu_wrapper .nav ul li a.hover, #menu_wrapper .nav ul li a:hover, #menu_wrapper div .nav li a.hover, #menu_wrapper div .nav li a:hover
{
	color: #76bb2c;
	border-bottom: 5px solid #76bb2c;
	z-index: 2;
	position: relative;
}

#menu_wrapper div .nav li.current-menu-item > a, #menu_wrapper div .nav li.current-menu-parent > a, #menu_wrapper div .nav li.current-menu-ancestor > a
{
	color: #76bb2c;
	border-bottom: 5px solid #76bb2c;
	z-index: 2;
	position: relative;
}

#menu_wrapper div .nav li ul li.current-menu-ancestor a
{
	color: #000;
}

#menu_wrapper .nav ul li ul, #menu_wrapper div .nav li ul
{
	display: none;
	list-style: none;
	background: #414244;
	position: absolute;
 	padding: 5px 0 5px 0;
 	width: 210px;
 	height: auto;
 	z-index: 1000; 
	text-transform: none;
	margin: 0 0 0 0;
}

#menu_wrapper .nav ul li ul li ul, #menu_wrapper div .nav li ul li ul
{
	position: absolute;
	left: 210px;
	top: 0px;
	margin-top: 0px;
	display: none;
	z-index: 99999;
	opacity: 1;
}

#menu_wrapper .nav ul li:hover ul, #menu_wrapper div .nav li:hover ul
{
	display: block;
}

#menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-item ul li a, #menu_wrapper div .nav li ul li.current-menu-item a,#menu_wrapper .nav ul li ul li a, #menu_wrapper .nav ul li.current-menu-item ul li a, #menu_wrapper .nav ul li ul li.current-menu-item a, #menu_wrapper div .nav li.current-menu-parent ul li a, #menu_wrapper div .nav li ul li.current-menu-parent a
{
	color: #adadad;
	display: block;
	background: transparent;
	height: auto;
}

#menu_wrapper .nav ul li ul li a, #menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-parent ul li a
{
	width: 170px;
	display: block;
	border-bottom: 1px dotted #555 !important;
	border-top: 0;
	font-weight: normal;
	font-size: 12px;
	border-left: 0;
	border-right: 0;
	padding: 8px 20px 8px 20px;
}

#menu_wrapper .nav ul li ul li:last-child a, #menu_wrapper div .nav li ul li:last-child a
{
	border-bottom: 0 !important;
}

#menu_wrapper .nav ul li ul li a:hover, #menu_wrapper .nav ul li ul li a:hover, #menu_wrapper div .nav li ul li a:hover, #menu_wrapper div .nav li ul li a:hover, #menu_wrapper div .nav li.current-menu-item ul li a:hover, #menu_wrapper div .nav li.current-menu-parent ul li a:hover
{
	color: #fff;
	border-bottom: 1px dotted #555;
}

#content_wrapper ul, #content_wrapper ol
{
	margin-left: 25px;
}

#content_wrapper ul.slides
{
	margin-left: 0;
}

#content_wrapper ul.home_portfolio
{
	margin-left: 0;
}

#content_wrapper
{
	width: 960px;
	margin: auto;
	padding-bottom: 20px;
	margin-top: 0;
}

body.home #content_wrapper
{
	padding-top: 20px;
}

body.home #content_wrapper.slider_cute
{
	padding-top: 0;
}

#content_shadow_bottom
{
	height: 48px;
}

#content_wrapper .inner
{
	width: 100%;
	margin: auto;
}

.wrapper_shadow
{
	width: 960px;
	height: 51px;
	margin:auto;
	position: relative;
	left: -20px;
	background: transparent url('../images/wrapper_shadow.html') no-repeat;
}

.slider_border
{
	width: 960px;
	height: 350px;
	margin:auto;
	background: #fff;
	padding: 10px 0 0 0;
	margin-top:15px;
}

.page_caption
{
	margin: auto;
	padding-top: 20px;
	margin-bottom: 10px;
	width: 960px;
}

.page_caption p
{
	display: block;
	float: left;
	margin: 13px 0 0 0;
}

#content_wrapper .inner .inner_wrapper
{
	width: 100%;
	margin: auto;
	padding: 0 0 0 0;
}

#content_wrapper .inner .inner_wrapper.portfolio
{
	padding: 10px 0 0 0;
	position: relative;
	left: -10px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content
{
	width: 650px;
	float: left;
	padding: 0;
	margin-top: 15px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content .post
{
	padding-bottom: 50px;
	padding-top: 30px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content .post:first-child
{
	padding-top: 0;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.portfolio_r
{
	width: 650px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content img
{
	max-width: 650px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.left_blog_content
{
	margin-left: 10px;
	margin-top: -5px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.mini
{
	width: 490px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.mini.second_one
{
	width: 490px;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.left_sidebar
{
	margin-left: 0px;
	float: right;
}

#content_wrapper .inner .inner_wrapper .sidebar_content.left_sidebar img
{
	max-width: 650px;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper
{
	width: 300px;
	float: right;
	margin-top: 15px;
}

body.page-template-portfolio-3r-php #content_wrapper .inner .inner_wrapper .sidebar_content, body.page-template-portfolio-3l-php #content_wrapper .inner .inner_wrapper .sidebar_content
{
	margin-top: 0;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar
{
	width: 100%;
	float: right;
	padding-left: 15px;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar_bottom {
	width: 100%;
	height: 50px;
	padding-left: 15px;
	float: right;
	display: none;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper.left_sidebar
{
	float: left;
	margin: 0;
	margin-top: 15px;
	padding-left: 0;
	border-left: 0;
	width: 280px;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar.left_sidebar
{
	width: 100%;
	float: left;
	min-height: 150px;
	padding-right: 25px;
	padding-left: 0;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar_bottom.left_sidebar
{
	padding-right: 25px;
	padding-left: 0;
	float: left;
	display: none;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar.left_sidebar .sidebar_widget > li
{
	padding-left: 0;
	margin-left: 0;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper .sidebar .content
{
	width: 100%;
	margin: 0 10px 0 0;
}

#content_wrapper .inner .inner_wrapper .sidebar_wrapper.left_sidebar .sidebar .content
{
	width: 100%;
	margin: 0;
}

#content_wrapper .sidebar .content .posts.blog, .posts.blog
{
	list-style: none;
	margin-left: 0;
	margin-top: 0;
}

.posts.blog li
{
	margin-bottom: 45px;
}

#content_wrapper .sidebar .content .posts.blog li, #content_wrapper .posts.blog li
{
	padding-top: 10px;
	line-height: 1.5em;
	clear: both;
	border:0;
	background: none;
	padding-left: 0;
	padding-bottom: 15px;
	color: #999;
}

#content_wrapper .sidebar .content .posts.blog li:last-child, #content_wrapper .posts.blog li:last-child, #footer .sidebar_widget li ul.posts.blog li:last-child
{
	margin-bottom: 0;
}

.sidebar_widget
{
	width: 100%;
}

.sidebar_widget li ul
{
	list-style: none;
}

.sidebar_widget > li
{
	padding-bottom: 10px;
	margin: 0;
	margin-bottom: 5px;
	margin-left: 20px;
	padding: 25px 0 20px 0;
	clear: both;
}

.sidebar_widget > li:last-child
{
	border-bottom: 0;
}

.sidebar_widget > li:first-child
{
	padding-top: 0;
}

.sidebar_widget li.widget.widget_search
{
	background: transparent;
	border: 0;
	width: 100%;
	float: left;
}

#content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios
{
	padding-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios ul li, #content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios ul li .portfolio_desc
{
	border-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios .flex-control-nav li
{
	border-bottom: 0;
	padding: 0;
}

.sidebar_widget li.widget.widget_search form#searchform
{
	margin-bottom: 35px;
}

.sidebar_widget li.Custom_Facebook_Page
{
	padding-bottom: 20px;
}

.sidebar_widget li.Custom_Flickr
{
	padding-bottom: 15px;
}

.sidebar_widget li ul li
{
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}

#footer .sidebar_widget li ul.flickr li:first-child
{
	padding-top: 0;
}

#footer .sidebar_widget li ul.flickr li
{
	border-bottom: 0;
}

#content_wrapper .sidebar .content .posts.blog li img, #content_wrapper .posts.blog li img, #footer .posts.blog li img
{
	float: left;
	margin: 0 10px 2px 0;
 	width: 60px;
 	padding: 3px;
}

#content_wrapper .sidebar .content .sidebar_widget, .sidebar_widget
{
	list-style: none;
	margin-left: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul
{
	margin: 0 0 0 0;
	list-style:none;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li ul.sub-menu
{
	margin-left: 10px;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li
{
	margin: 0 0 0 0;
	padding: 0 0 3px 20px;
	background: url('../images/li-arrow.png') no-repeat 0px center;
}

#content_wrapper .sidebar .content .sidebar_widget li.Custom_Portfolios ul li
{
	padding-left: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li:last-child
{
	border-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li:first-child
{
	padding-top: 10px;
	background-position:0px 1.3em;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.twitter, #footer .sidebar_widget li ul.twitter, ul.twitter
{
	margin: 0;
	margin: 5px 0 0 0;
	list-style:none;
	background: transparent;
	padding: 0;
	width: 100%;
}

.testimonial_wrapper
{
	background: transparent url("../images/quote_bg.png") no-repeat 10px 15px;
	border: 1px solid #E5E5E5;
	padding: 20px 20px 20px 63px;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(150, 150, 150, 0.1);
	-moz-box-shadow: 2px 2px 0px 0px rgba(150, 150, 150, 0.1);
	box-shadow: 2px 2px 0px 0px rgba(150, 150, 150, 0.1);
}

.sidebar_widget > li .testimonial_wrapper
{
	margin-top: 15px;
}

#footer .twitter_username, #footer .testimonial_name
{
	color: #fff;
}

#footer .testimonial_wrapper
{
	margin-top: 20px;
	background: #1F2224 url("../images/quote_bg.png") no-repeat 0px 5px;
}

#footer .sidebar_widget li ul.twitter, ul.twitter
{
	margin-top: 15px;
	float: none;
	background: #1F2224;
}

#footer .sidebar_widget li ul.twitter li:last-child
{
	border-bottom: 0;
	padding-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.twitter li, #footer .sidebar_widget li ul.twitter li, ul.twitter li
{
	padding: 0;
	background: none;
}

.twitter_arrow, .testimonial_arrow
{
	background: transparent url("../images/testimonial_arrow.png") no-repeat;
	width: 18px;
	height: 10px;
	margin-left: 10px;
	margin-top: -1px;
}

.twitter_username, .testimonial_name
{
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.twitter li:first-child, #footer .sidebar_widget li ul.twitter li:first-child, ul.twitter li:first-child
{
	padding-top: 10px;
	background-position:0px 1.3em;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.social_media, #footer .sidebar_widget li ul.social_media
{
	list-style: none;
	margin: 5px 0 15px -9px;
	float: left;
	display: block;
	clear: both;
}

#footer .sidebar_widget li ul.social_media
{
	margin: 5px 0 15px 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.social_media li
{
	display: block;
	float: left;
	margin: 0;
}

#footer .sidebar_widget li ul.social_media li
{
	margin: 0 5px 0 0;
	display: block;
	float: left;
}

#content_wrapper ul.posts.blog
{
	list-style: none;
	margin: 7px 0 0 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul li
{
	margin: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li .widgettitle, h2.widgettitle, #footer ul li.widget .widgettitle
{
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px !important;
	display: block;
	margin: 0 0 2px 0;
	letter-spacing: 0;
	color: #333;
	padding-bottom: 7px;
	text-transform: uppercase;
	display: block;
	width: 100%;
}

#content_wrapper .sidebar .content .sidebar_widget li.widget.widget_search .widgettitle
{
	display: none;
}

#content_wrapper .sidebar .content .sidebar_widget li .widgettitle
{
	background: url('../images/heading_bg.png') 0 6px repeat-x;
}

#content_wrapper .sidebar .content .sidebar_widget li .widgettitle span
{
	background-color: #fff;
	display: inline;
	padding-right: 10px;
}

#footer h2.widgettitle span
{
	background: #333;	
}s

.one_third h2.widgettitle
{
	font-size: 16px;
}

.widget_tag_cloud div, .tag_cloud
{
	margin: 15px 0 10px 0;	
}

.widget_tag_cloud div a, .meta-tags a, .tag_cloud a
{
	display: inline-block;
	color: #999;
	font-family: 'Open Sans',Arial,Tahoma,Verdana,sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	margin: 0 0 4px 0;
	padding: 6px 10px 6px 10px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
}

.tag_cloud a
{
	margin-right: 5px;
}

.widget_tag_cloud div a:hover, .meta-tags a:hover, #footer .widget_tag_cloud div a:hover, #footer .meta-tags a:hover, .tag_cloud a:hover
{
	background: #76bb2c;
	border: 1px solid #76bb2c;
	color: #fff;
}

#footer .widget_tag_cloud div a, #footer .meta-tags a
{
	color: #888;
	background: #444;
	border: 1px solid #444;
	padding: 3px 6px 3px 6px;
	margin: 5px 0 2px 0;
}

.post_wrapper
{
	width: 640px;
	margin: 0;
	float: left;
	margin-bottom: 45px;
	padding-top: 20px;
}

.post_wrapper:first-child
{
	padding-top: 0;
}

.post_wrapper.fullwidth
{
	width: 960px;
	margin-top: 15px;
}

.post_wrapper.one_half
{
	width: 470px;
	margin-bottom: 40px;
	margin-top: 10px;
	padding-top: 0;
}

.post_wrapper.one_half.ppb_blog
{
	width: 460px;
	overflow: hidden;
	margin-top: 0;
}

.post_wrapper.one_half.last
{
	width: 470px;
}

.post_wrapper.one_third
{
	width: 300px;
	margin-bottom: 40px;
	margin-right: 15px;
	padding-top: 20px;
}

.post_wrapper.one_third.last
{
	margin-right: 0;
	width: 305px;
}

.post_wrapper_left
{
	float: left;
	width: 200px;
	margin: 0 30px 0 0;
}

.post_wrapper_left_full
{
	float: left;
	width: 300px;
	margin: 0 30px 0 0;
}

.post_wrapper_right
{
	float: right;
	width: 350px;
}

.post_wrapper_right_full
{
	float: right;
	width: 600px;
}

.blog_thumb
{
	width: 200px;
	height: 200px;
	margin-top:0;
	margin-right: 30px;
	overflow: hidden;
	text-align: center;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
	position: relative;
	float: left;
}

.blog_thumb:hover
{
	background-image: none;
}

.blog_thumb_overlay
{
	width: 200px;
	height: 200px;
	background-color: #76bb2c;
	text-align: center;
	overflow: hidden;
	transform: translateX(-200px);
	-webkit-transform: translateX(-200px);
	-ms-transform: translateX(-200px);
	-moz-transform: translateX(-200px);
	-o-transform: translateX(-200px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out; 
    position: absolute;
    top: 0;
    left: 0;
}

.blog_thumb:hover .blog_thumb_overlay
{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

.blog_thumb_overlay .overlay_icon_circle
{
	position: relative;
	top: 39%;
}

.blog_thumb_overlay .overlay_icon_circle img
{
	width: 42px;
	height: auto;
}

.blog_thumb img
{
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
}

.blog_thumb:hover img.blog_thumbnail
{
	transform: translateX(200px);
	-webkit-transform: translateX(200px);
	-ms-transform: translateX(200px);
	-moz-transform: translateX(200px);
	-o-transform: translateX(200px);
    transition-delay: 0.1s;
}

.post_header_wrapper
{
	margin-top: 0;
}

.post_header_wrapper.thumb
{
	width: 395px;
	float: left;
}

.post_header
{
	width: 650px;
	float: left;
	margin: 0;
}

.post_header.full
{
	width: 870px;
}

.post_header h3
{
	text-transform: none;
	margin-top: 5px;
}

.post_header.thumb h3
{
	font-size: 22px;
	font-weight: bold;
	margin: 0;
}

.post_header h3
{
	font-size: 24px;
}

.post_header.half h5, .post_header.half h6
{
	font-size: 16px;
	text-transform: none;
}

.post_header h3 a, .post_header.half h5 a, .post_header.half h6 a
{
	margin-top: 0;
	margin-bottom: 0px;
	color: #333;
}

.post_header .post_detail, .recent_post_detail, .post_detail
{
	width: 100%;
	padding: 0;
	font-size: 12px;
	font-style: italic;
	float: left;
	margin: 0 0 15px 0;
	color: #999;
}

.member_position
{
	color: #999;
	font-style: italic;
}

.member_img
{
	width: 299px;
	height: auto;
}

.post_detail_item
{
	display: inline-block;
	margin: 5px 5px 0 0;
}

.post_img img.frame
{
	position: relative;
	top: 15px;
}

.post_img_wrapper
{
	width: 650px;
	height: 380px;
	margin-top: 25px;
	overflow: hidden;
	text-align: center;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
	position: relative;
}

.post_img_wrapper:hover
{
	background-image: none;
}

.post_img_overlay
{
	width:650px;
	height:380px;
	background-color: #76bb2c;
	text-align: center;
	overflow: hidden;
	transform: translateX(-650px);
	-webkit-transform: translateX(-650px);
	-ms-transform: translateX(-650px);
	-moz-transform: translateX(-650px);
	-o-transform: translateX(-650px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out; 
    -ms-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out; 
    position: absolute;
    top: 0;
    left: 0;
}

.post_img_wrapper:hover .post_img_overlay
{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

.post_img_overlay .overlay_icon_circle
{
	position: relative;
	top: 41%;
}

.post_img_wrapper img
{
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
}

.post_img_wrapper:hover img.post_featured
{
	transform: translateX(650px);
	-webkit-transform: translateX(650px);
	-ms-transform: translateX(650px);
	-moz-transform: translateX(650px);
	-o-transform: translateX(650px);
    transition-delay: 0.1s;
}

.post_full_img_wrapper
{
	width: 960px;
	height: 380px;
	margin-top: 25px;
	overflow: hidden;
	text-align: center;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
	position: relative;
}

.post_full_img_wrapper:hover
{
	background-image: none;
}

.post_full_img_overlay
{
	width:960px;
	height:380px;
	background-color: #76bb2c;
	text-align: center;
	overflow: hidden;
	transform: translateX(-960px);
	-webkit-transform: translateX(-960px);
	-ms-transform: translateX(-960px);
	-moz-transform: translateX(-960px);
	-o-transform: translateX(-960px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out; 
    -ms-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out; 
    position: absolute;
    top: 0;
    left: 0;
}

.post_full_img_wrapper:hover .post_full_img_overlay
{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

.post_full_img_overlay .overlay_icon_circle
{
	position: relative;
	top: 37%;
}

.post_full_img_overlay .overlay_icon_circle img
{
	position: relative;
	top: 37%;
}

.post_full_img_wrapper img
{
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
}

.post_full_img_wrapper:hover img.post_featured
{
	transform: translateX(960px);
	-webkit-transform: translateX(960px);
	-ms-transform: translateX(960px);
	-moz-transform: translateX(960px);
	-o-transform: translateX(960px);
    transition-delay: 0.1s;
}

.post_half_img_wrapper
{
	width: 470px;
	height: 250px;
	margin-top: 25px;
	overflow: hidden;
	text-align: center;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
	position: relative;
}

.post_half_img_wrapper:hover
{
	background-image: none;
}

.post_half_img_overlay
{
	width: 470px;
	height: 250px;
	background-color: #76bb2c;
	text-align: center;
	overflow: hidden;
	transform: translateX(-470px);
	-webkit-transform: translateX(-470px);
	-ms-transform: translateX(-470px);
	-moz-transform: translateX(-470px);
	-o-transform: translateX(-470px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out; 
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.post_half_img_wrapper:hover .post_half_img_overlay
{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

.post_half_img_overlay .overlay_icon_circle
{
	position: relative;
	top: 39%;
}

.post_half_img_wrapper img
{
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
}

.post_half_img_wrapper:hover img.post_featured
{
	transform: translateX(650px);
	-webkit-transform: translateX(650px);
	-ms-transform: translateX(650px);
	-moz-transform: translateX(650px);
	-o-transform: translateX(650px);
    transition-delay: 0.1s;
}

.one_third .one .post_half_img_wrapper, .one_third .one .post_half_img_wrapper img, .one_fourth .one .post_half_img_wrapper, .one_fourth .one .post_half_img_wrapper img
{
	width: 100%;
	height: auto;
}

.one_third .one .post_half_img_wrapper .post_half_img_overlay, .one_fourth .one .post_half_img_wrapper .post_half_img_overlay
{
	visibility: hidden;
}

.post_third_img_wrapper
{
	width: 305px;
	height: 180px;
	margin-top: 25px;
	overflow: hidden;
	text-align: center;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
	position: relative;
}

.post_third_img_wrapper:hover
{
	background-image: none;
}

.ppb_blog .post_third_img_wrapper, .ppb_blog .post_third_img_wrapper .post_third_img_overlay
{
	overflow: hidden;
}

.post_third_img_overlay
{
	width:305px;
	height:180px;
	background-color: #256b02;
	text-align: center;
	overflow: hidden;
	transform: translateX(-305px);
	-webkit-transform: translateX(-305px);
	-ms-transform: translateX(-305px);
	-moz-transform: translateX(-305px);
	-o-transform: translateX(-305px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.post_third_img_wrapper:hover .post_third_img_overlay
{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

.post_third_img_overlay .overlay_icon_circle
{
	position: relative;
	top: 34%;
}

.post_third_img_overlay .overlay_icon_circle img
{
	
}

.post_third_img_wrapper img
{
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
}

.post_third_img_wrapper:hover img.post_featured
{
	transform: translateX(305px);
	-webkit-transform: translateX(305px);
	-ms-transform: translateX(305px);
	-moz-transform: translateX(305px);
	-o-transform: translateX(305px);
    transition-delay: 0.1s;
}

.post_excerpt
{
	width: 650px;
	float: left;
}

.post_excerpt.full
{
	width: 100%;
}

.post_excerpt.thumb
{
	width: 400px;
	float: left;
}

.post_excerpt.half
{
	width: 100%;
}

.post_excerpt p:first-child, .sidebar_content p:first-child
{
	margin: 0;
}

.post_header .post_comment
{
	float: right;
	margin: 10px 0 0 0;
	font-size: 11px;
	padding: 5px 15px 5px 15px;
	text-align: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #ebebeb;
 	-webkit-box-shadow: 0 1px 3px #ebebeb;
 	box-shadow: 0px 1px 3px #ebebeb;
 	background: #cccccc url("../images/bt_g.html") repeat-x top;
	text-align: left;
	border: 1px solid #ebebeb;
}

.post_header.half
{
	width: 100%;
}

.comment .left img.avatar
{
	width: 55px;
}

.comment
{
	width: 650px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-left: -25px;
	float: left;
}

.comment .left
{
	width: 60px;
	float: left;
	margin-top: 15px;
}

.comment_arrow
{
	background: transparent url("../images/comment_arrow.png") no-repeat;
	width: 14px;
	height: 10px;
	float: left;
	position: relative;
	left: 5px;
	margin-top: 20px;
	display: none;
}

.comment .right
{
	width: 86%;
	float: left;
	padding: 20px 15px 20px 15px;
	background: #fff;
	border-bottom: 2px dotted #e5e5e5;
	margin-top: -2px;
}

ul.children div.comment .right
{
	width: 73%;
}

.comment .right p
{
	margin: 0;
	padding: 0;
}

#content_wrapper ul.children
{
	list-style: none;
	margin: -40px 0 0px 74px;
	padding: 5px 20px 2px 0;
	float: left;
	width: 106%;
}

#content_wrapper ul.children ul.children
{
	margin-top: -10px;
	padding-bottom: 0;
	width: 83.5%;
}

.comment_wrapper
{
	float: left;
	margin-left: 25px;
}

.comment_date
{
	color: #999;
	font-size: 12px;
	margin-top: 3px;
	clear: both;
	font-style: italic;
}

ul.children .comment
{
	width: 100%;
	margin: 0;
	padding: 20px 0 10px 0;
	float: left;
	margin-left: -23px;
}

ul.children ul.children .comment
{
	margin-left: -22px;
}

ul.children .comment:last-child
{
	padding-top: 0;
	padding-bottom: 15px;
}

ul.children .comment:first-child
{
	padding-top: 10px;
}

.cufon.space
{
	margin-bottom: 15px;
}

.one_third
{
	width: 33.33%;
	padding: 0 1%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.one_third.last
{
	margin-right: 0;
	width: 33.33%;
}

#portfolio_filter_wrapper.three_columns > div
{
	width: 30%;
	float: left;
	margin-right: 2.5%;
}

.two_third
{
	float: left;
	width: 64.66%;
	margin-right: 2%;
}

.two_third.last
{
	margin-right: 0;
	width: 66.66%;
}

.two_third.portfolio1
{
	height: 290px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.two_third.portfolio1 img.frame
{
	position: relative;
	top: 20px;
}

.one_half
{
	float: left;
	width: 48%;
	margin-right: 2%;
}

.one_half.last
{
	width: 50%;
	margin-right: 0;
}

#portfolio_filter_wrapper.two_columns > div
{
	width: 47%;
	float: left;
	margin-right: 2.5%;
}

.one_half .portfolio_image
{
	width: 100%;
	height: 330px;
	overflow: hidden;
}

.portfolio_image img
{
	width: 183px;
}

.one_half .portfolio_image img.frame
{
	position: relative;
	top: 21px;
}

.img_shadow_360
{
	float: left;
	background: transparent url('../images/img_shadow_360.html') no-repeat 22px bottom;
}

.one_third .portfolio_image
{
	width: 100%;
	height: 218px;
	overflow: hidden;
}

.one_third .portfolio_image img.frame
{
	position: relative;
	top: 20px;
}

.img_shadow_220
{
	float: left;
	background: transparent url('../images/img_shadow_220.html') no-repeat 18px bottom;
}

.one_third .portfolio_desc h2
{
	font-size: 20px;
}

.portfolio_desc
{
	color: #999;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
	padding: 12px 10px 15px 10px;
	border-bottom: 2px solid #e4e4e4;
	background: #f9f9f9;
	border-top: 0;
	font-size: 12px;
	font-style: italic;
	text-align: center;
	cursor: pointer;
}

.portfolio_desc.hover
{
	border-bottom: 2px solid #76bb2c;
}

.portfolio_desc h5, .portfolio_desc h6
{
	color: #333;
}

.portfolio_desc:hover, .portfolio_desc.hover
{
		
}

.portfolio_desc.hover h6, .portfolio_desc.hover h5, .portfolio_desc.hover h4, .portfolio_desc.hover h3, .portf1795olio_desc.hover h2
{

}

.portfolio_desc h6 a, .posts.blog h6 a, .portfolio_desc h5 a, .posts.blog h5 a, .portfolio_desc h6, .portfolio_desc h5
{
	font-weight: bold;
	text-transform: none;
	font-style: normal;
}

.portfolio_desc_200
{
	width: 200px;
	margin-bottom: 25px;
}

.portfolio_desc_642
{
	width:920px;
}

.portfolio_desc_460
{
	width:450px;
	margin-bottom: 25px;
}

.portfolio_desc_195
{
	width: 175px;
	margin-bottom: 25px;
	font-size: 11px;
}

#content_wrapper .sidebar .content .sidebar_widget li .portfolio_desc h6 a, #content_wrapper .sidebar .content .sidebar_widget li .posts.blog h6 a
{
	padding: 0;
	color: #000;
	background: transparent;
	width: auto;
	font-size: 13px;
	position: relative;
	margin: 0;
	font-weight: bold;
	letter-spacing: 0;
}

.posts.blog h6
{
	margin: 10px 0 10px 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.thumb, #footer .sidebar_widget li ul.thumb
{
	list-style: none;
	display: block;
	float: none;
	width: 100%;
	margin-left: 0;
	margin-top: 15px;
}

#footer .sidebar_widget li ul.thumb
{
	margin-top: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.thumb li, #content_wrapper .sidebar .content .sidebar_widget li ul.thumb li:first-child, #footer .sidebar_widget li ul.thumb li:first-child, #footer .sidebar_widget li ul.thumb li
{
	margin: 0 1px 0 0;
	float: left;
	clear: none;
	padding: 0;
	background: none;
	border-bottom: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.thumb li img, #footer .sidebar_widget li ul.thumb li img
{
	width: 81px;
}

#footer .sidebar_widget li ul.thumb li img
{
	width: 53px;
}

.one_fourth
{
	width: 25%;
	padding: 0 1%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.one_fourth.last
{
	margin-right: 0;
	width: 25%;
}

.one_fourth.gallery
{
	margin-bottom: 3%;
}

#portfolio_filter_wrapper > div
{
	width: 22%;
	float: left;
	margin-right: 2.5%;
}

.one_fourth.css_shadow
{
	margin: bottom: 0;
}

.one_fourth.clear
{
	clear: both;
}

.one_fourth .portfolio_image
{
	width: 100%;
	height: 155px;
	overflow: hidden;
}

.one_fourth .portfolio_image img.frame
{
	position: relative;
	top: 10px;
}

.img_shadow_160
{
	float: left;
	background: transparent url('../images/img_shadow_160.html') no-repeat 15px bottom;
}

.one_fifth
{
	width: 15%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_fifth.last
{
	margin-right: 0;
}

.one_sixth
{
	width: 11%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_sixth.last
{
	margin-right: 0;
}

.one_sixth_img
{
	width: 162px;
	height: 235px;
	overflow: hidden;
	float: left;
	display:block;
	border: 10px solid #fff;
	background:#fff;
}

.one_third_img
{
	width: 250px;
	height: 160px;
	overflow: hidden;
	float: left;
	display:block;
	border: 8px solid #fff;
 	background:#fff;
 	-moz-box-shadow: 0 1px 3px #ccc;
 	-webkit-box-shadow: 0 1px 3px #ccc;
 	box-shadow: 0px 1px 3px #ccc;
}

.one_fourth_img, .one_fourth_detail_img
{
	width: 265px;
	height: 230px;
	overflow: hidden;
	float: left;
	display:block;
}

.one_fourth_normal
{
	width: 190px;
	height: 120px;
	overflow: hidden;
	float: left;
	display:block;
	border: 8px solid #fff;
 	background:#fff;
 	-moz-box-shadow: 0 1px 3px #ccc;
 	-webkit-box-shadow: 0 1px 3px #ccc;
 	box-shadow: 0px 1px 3px #ccc;
}

.one_sixth_img:hover, .one_third_img:hover, .one_fourth_img:hover, , .one_fourth_detail_img:hover img:hover
{
	overflow: visible;
}

.one_sixth_img:hover img
{
	position:absolute;
	margin-left: -75px;
	margin-top: -65px;
	z-index: 999;
	-moz-box-shadow: 0 2px 20px #ccc;
 	-webkit-box-shadow: 0 2px 20px #ccc;
 	box-shadow: 0px 2px 20px #ccc;
 	border: 10px solid #fff;
}

.one_fourth_img:hover img
{
	position:absolute;
	margin-left: -60px;
	margin-top: -60px;
	z-index: 999;
	-moz-box-shadow: 0 2px 20px #555;
 	-webkit-box-shadow: 0 2px 20px #555;
 	box-shadow: 0px 2px 20px #555;
}

.one_fourth_detail_img:hover img
{
	display:none;
}

.one_fourth_detail_div
{
	display:none;
	width:260px;
	height:260px;
	padding: 20px;
	background: #f9f9f9 url('../images/body_bg.html') repeat;
	position:absolute;
	margin-left: -40px;
	margin-top: -40px;
	z-index: 999;
	-moz-box-shadow: 0 2px 20px #ccc;
 	-webkit-box-shadow: 0 2px 20px #ccc;
 	box-shadow: 0px 2px 20px #ccc;
 	color: #666;
}

.one_fourth_detail_img:hover .one_fourth_detail_div
{
	display: block;
}

.portfolio4_hover
{
	width: 180px;
	height: 133px;
	text-align: center;
	display: block;
	position: relative;
	top: -133px;
	left: 6px;
	z-index: 999;
	background: transparent;
  	cursor: pointer;
}

.portfolio4_hover img
{
	width: 60px;
	margin: 25px 0 0 0;
}

.blog_grid_desc
{
	padding: 15px 0 15px 5px;
}

#searchform label
{
	display:none;
}

#searchform
{
	margin: 0;
}

#searchform input[type=text]
{
	width: 235px;
	margin: 0 0 5px 0;
	background: url('../images/search_magnify.png') no-repeat 10px 12px;
	padding: 10px 10px 10px 30px;
}

#searchform input[type=submit]
{
	display: none;
}

.portfolio_image
{
	display: block;
}

.related_posts
{
	padding-bottom: 5px;
	padding-top: 5px;
	float: left;
	width: 100%;
}

table
{
	border: 1px solid #ebebeb;
}

#footer table
{
	border: 0;
}

#content_wrapper table thead tr th
{
	text-shadow: 0 0 0 #fff;
}

table tr
{
	*background: #ffffff;
}

#footer table tr
{
	background: #1F2224;
}

.tablebaru{
	border:none !important;
}

.tablebaru tr td, table tr th
{
	border-bottom: none;
	color: #000;
}

.tablebaru tr th, table tr td
{
	padding: 1px 5px 0px 0px !important;
}

table tr td, table tr th
{
	border-bottom: 1px solid #ebebeb;
}

#footer table tr td, #footer table tr th
{
	border: 0;
}

table tfoot tr td
{
	border-bottom: 0;
}

table tr th
{
	font-weight: bold;
	background: #f0f0f0;
	text-align: left;
}

#footer table tr th
{
	background: #F16F07;
	text-align: center;
	color: #fff;
}

table tr th, table tr td
{
	padding: 7px 15px 7px 15px;
}

#wp-calendar tr th, #wp-calendar tr td
{
	padding: 3px 7px 3px 7px;
}

#wp-calendar caption
{
	display:none;
}

#wp-calendar
{
	margin: 20px 0 20px 0;
}

.pagination {
	margin: 20px 0 0 8px;
	float: left;
}

.pagination p a:first-child {
	float: left;
}

.pagination p a:last-child {
	float: left;
}

.pagination a, .pagination span
{
	padding: 8px 13px 8px 13px;
	width: 10px;
	color: #777777;
	background: #f9f9f9;
	display: block;
	text-align: center;
	float: left;
	cursor: pointer;
	margin-left: 3px;
	border-bottom: 2px solid #e4e4e4;
}

.pagination span, .pagination a:hover
{
	color: #fff;
	background: #555;
	border-bottom: 2px solid #333;
}

.pp_list ul
{
	margin-top: 15px;
}

.pp_list ul li
{
	margin: 5px 0 0 0;
	padding-left: 22px;
	padding-bottom: 5px;
}

.accordion
{
 	border: 1px solid #ebebeb;
 	-moz-box-shadow: 0 1px 3px #ebebeb;
 	-webkit-box-shadow: 0 1px 3px #ebebeb;
 	box-shadow: 0px 1px 3px #ebebeb;
}

.accordion h3, .accordion div
{
	border: 0;
	background: transparent;
}

.pp_accordion, .pp_accordion_close
{
 	margin:0;
	margin-bottom: 10px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
	border: 1px solid #ebebeb;
}

.ui-corner-all, .ui-corner-top, .ui-corner-bottom
{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ui-state-default, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-widget-content
{
	border: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
	background: transparent;
}

.ui-accordion .ui-accordion-header
{
	font-weight: normal;
	display: block;
	position: relative;
	border-bottom: 2px solid #e4e4e4 !important;
	background: #f9f9f9;
}

.pp_accordion
{
	
}

.accordion div
{
	border-top: 1px solid #ebebeb;	
}

.accordion h3
{
	padding: 5px 0 5px 8px;
}

.ui-accordion .ui-accordion-header .ui-icon
{
	left: 10px;
}

.ui-tabs-panel
{
	margin-top: 10px;
}

.ui-widget-header
{
	border-bottom: 1px solid #E5E5E5;
}

.tabs .ui-state-default
{
	background: transparent;
	border: 0;
	color: #333;
}

.tabs .ui-state-default a
{
	color: #999;
}

.ui-tabs .ui-tabs-nav li
{
	background: #F9F9F9;
	margin: 0;
	border: 1px solid #e5e5e5 !important;
	border-left: 0 !important;
	padding-top: 2px;
	top: 1px;
}

.ui-tabs .ui-tabs-nav li:hover
{
	background: #fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
	border: 1px solid #e5e5e5;
	border-top: 3px solid #ef3b24;
	top: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-state-active
{
	background: #fff !important;
	border-bottom: 1px solid #fff !important;
}

.ui-tabs .ui-tabs-nav li a 
{
	padding: 8px 30px 7px 30px;
	font-size: 12px;
}

.tabs .ui-tabs .ui-tabs-nav li
{
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	display: block;	
}

#content_wrapper .tabs .ui-widget-header
{
	border: 0;
	margin-left: 0;
}

.tabs .ui-tabs-panel
{
	border: 1px solid #E5E5E5;
	margin:0;
	padding-top: 0em;
	background: #fff;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(150, 150, 150, 0.05);
	-moz-box-shadow: 2px 2px 0px 0px rgba(150, 150, 150, 0.05);
	box-shadow: 2px 2px 0px 0px rgba(150, 150, 150, 0.05);
}

.tabs .ui-state-active a
{
	color: #333;
	font-weight: bold;
}

.ui-tabs li:first-child
{
	margin-left: -2px;
	border-left: 1px solid #e5e5e5 !important;
}

.pricing_box
{
	float: left;
	text-align: center;
	padding: 0 0 10px 0;
	border: 1px solid #ebebeb;
	margin-top: 2%;
}

.pricing_box .header
{
	border-bottom: 1px solid #ebebeb;
	margin: 0 0 20px 0;
	font-weight: bold;
}

.pricing_box .header
{
	width: 100%;
	height: 42px;
	text-align: center;
}

.pricing_box .header span
{
	position: relative;
	top: 10px;
	padding-bottom: 7px;
	font-size: 14px;
	text-transform: uppercase;
}

.pricing_box.large .header span
{
	top: 15px;
	font-size: 14px;
}

.pricing_box h2
{
	font-size: 44px;
	padding-top: 5px;
}

#content_wrapper .pricing_box ul
{
	list-style-image: url("../images/icon_check.html");
	margin: 10px 10% 25px 20%;
	text-align: left;
}

#content_wrapper .pricing_box ul
{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 35px;
	width: 80%;
	list-style: none;
}

#content_wrapper .pricing_box ul li
{
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0 10px 0;
	text-align: center;
}

.pricing_box.large
{
	margin-top: -0.5%;
	padding-bottom: 30px;
	border: 1px solid #2C2F32;
}

.pricing_box.large .header
{
	height: 51px;
	background: #2C2F32;
	color: #fff;
}

.pricing_box.three
{
	width: 32.5%;
}

.pricing_box.four
{
	width: 24.5%;
	font-size: 1em;
}

.pricing_box.four h2
{
	font-size: 3em;
}

.pricing_box.five
{
	width: 19.5%;
	font-size: 0.9em;
}

.pricing_box.five h2
{
	font-size: 1.9em;
}

.pricing_box.five.large
{
	margin-top: -2.5%;
}

.pricing_box.five .header span
{
	font-size: 1.3em;
	top: 11px;
}

.pricing_box.five.large .header span
{
	font-size: 1.5em;
	top: 13px;
}

.one_third .service_thumb
{
	width: 50px;
	margin: 0 20px 0 0;
	float: left;
}

.one_third .service_thumb img
{
	width: 50px;
}

.one_third .service_box
{
	width: 180px;
	float: left;
}

.one_third .service_box p
{
	margin-top: 15px;
}

#footer ul
{
	display: block;
	width: 900px;
	margin: auto;
	list-style: none;
	padding: 40px 0 30px 0;
	text-align: left;
	font-weight: normal;
}

#footer textarea
{
	height: 100px;
}

#footer h6
{
	font-size: 13px;
	font-weight: bold;
}

#footer ul li.widget
{
	float: left;
	width: 22%;
	margin-right: 1%;
	margin-bottom: 0px;
	border: 0;
	background: transparent;
	padding: 0;
	clear: none;
}

#footer ul li.widget.last
{
	margin-right: 15px;
	width: 20%;
	float:right;
}

#footer ul.three li.widget
{
	float: left;
	width: 31.33%;
	margin-right:2%;
	margin-left: 0;
}

#footer ul.three li.widget.last
{
	float: right;
	width: 33.33%;
	margin-right: 0;
	margin-left: 0;
}

#footer ul.two li.widget
{
	float: left;
	width: 47%;
}

#footer ul.two li.widget.last
{
	float: right;
	width: 47%;
	margin-right: 0;
}

#footer ul.one li.widget
{
	float: left;
	width: 100%;
	margin-right:0;
}

#footer ul li.widget .widgettitle
{
	border-bottom: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	background: url('../images/footer_heading_bg.png') 0 6px repeat-x;
}

#footer ul li.widget .widgettitle span
{
	padding-right: 10px;
}

#footer ul li.widget ul
{
	width: 100%;
	float: left;
	padding-top: 15px;
}

div.textwidget
{
	padding-top: 0;
	margin-top: 10px;
	margin-bottom: 20px;
}

#footer ul li.widget ul li
{
	margin: 0;
	padding: 8px 0 0 20px;
	background: url('../images/footer_li-arrow.png') no-repeat 0px center;
}

#footer ul li.widget ul li:first-child
{
	padding-top: 0;
	border-top: 0;
}

#footer ul li.widget ul li:last-child
{
	border-bottom: 0;
}

#footer .posts.blog li img
{
	float: left;
	margin: 0 10px 2px 0;
 	width: 45px;
 	border: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.flickr, ul.flickr
{
	list-style: none;
	margin: 0 0 0 0;
	float: left;
	display: block;
	clear: both;
	width: 110%;
}

ul.flickr li
{
	float: left;
	margin: 0 5px 5px 0;
}

#footer .sidebar_widget li ul.flickr
{
	list-style: none;
	margin: 0 0 30px 0;
	float: left;
	display: block;
	clear: both;
	width: 110%;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.flickr li, #content_wrapper .sidebar .content .sidebar_widget li ul.flickr li a, ul.flickr li a
{
	display: block;
	float: left;
	margin: 0;
	background-image: none;
	border: 0;
	margin-right: 6px;
	margin-bottom: 0;
	padding-left: 0;
	padding-top: 3px;
}

#footer .sidebar_widget li ul.flickr li, #footer .sidebar_widget li ul.flickr li a, #footer .sidebar_widget li ul.flickr li:first-child
{
	display: block;
	float: left;
	margin: 0 5px 3px 0;
	border:0;
	padding: 0;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.flickr li img, ul.flickr li img
{
	width: 75px;
	position: relative;
}

#footer .sidebar_widget li ul.flickr li img
{
	width: 57px;
	border: 0;
	padding:0;
}

.slider_wrapper_bg
{
	width: 960px;
	height: 480px;
	background: url('../images/slider_shadow.png') bottom center no-repeat;
	border-right: 0;
	border-left: 0;
	margin: auto;
}

#slider_wrapper
{
	width: 960px;
	height: 430px;
	margin: auto;
	overflow: visible;
	text-align: center;
	position: relative;
	z-index: 9;
	margin-top: 30px;
	font-size: 14px;
}

#slider_wrapper.cute
{
	margin-top: 30px;
}

body.single-portfolios #slider_wrapper
{
	height: 480px;
	margin-top: 10px;
}

.br-captions p
{
	padding: 0;
	padding-top: 5px;
	margin: 0;
}

.br-captions .caption_bg
{
	background: rgba(0,0,0,.7);
	padding: 12px 15px 12px 15px;
    position:absolute;
    max-width: 300px;
    color: #ccc;
    text-align: left;
    font-size: 14px;
}

.br-captions .caption_bg h4
{
	color: #fff;
	margin-bottom: 0;
}

.styled_box_title
{
	display: inline-block;
	outline: none;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	color: #fff;
	border: solid 1px #cccccc;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eeeeee));
	background: -moz-linear-gradient(top,  #f8f8f8,  #eeeeee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee');
	text-shadow: 0 0 0 transparent;
	font-weight: bold;
	width: 95%;
}

.styled_box_content
{
	background: #fff;
	color: #999;
	padding: 10px 10px 10px 10px;
	line-height: 1.3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	border: solid 1px #cccccc;
	border-top: 0;
	width: 95%;
}

.breadcrumbs
{
	width: 100%;
	font-size: 11px;
	border-bottom: 1px solid #ebebeb;
	margin-top: -10px;
}

.breadcrumbs .inner
{
	width: 895px;
	margin: auto;
	padding: 10px 0 10px 0;
}

.small_author
{
	font-size: 14px;
	color: #ccc;
}

.portfolio3_shadow
{
	width:216px;
	height:160px;
	background: transparent url('../images/portfolio3_shadow.html') no-repeat;
	margin-top:-12px;
}

.portfolio3_shadow img
{
	margin-top: 12px;
	border:0;
}

.portfolio195_shadow
{
	width:195px;
	height:130px;
	margin-top:0;
	overflow: hidden;
	text-align: center;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
	position: relative;
}

.portfolio195_shadow:hover
{
	background-image: none;
}

.portfolio195_overlay
{
	width:195px;
	height:130px;
	background-color: #76bb2c;
	text-align: center;
	overflow: hidden;
	transform: translateX(-220px);
	-webkit-transform: translateX(-220px);
	-ms-transform: translateX(-220px);
	-moz-transform: translateX(-220px);
	-o-transform: translateX(-220px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out; 
    -ms-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out; 
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio195_shadow:hover .portfolio195_overlay
{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

.portfolio195_overlay .overlay_icon_circle
{
	position: relative;
	top: 35%;
}

.portfolio195_overlay .overlay_icon_circle img
{
	width: 36px;
	height: auto;
}

.portfolio195_shadow img
{
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
}

.portfolio195_shadow:hover img.portfolio_img
{
	transform: translateX(220px);
	-webkit-transform: translateX(220px);
	-ms-transform: translateX(220px);
	-moz-transform: translateX(220px);
	-o-transform: translateX(220px);
    transition-delay: 0.1s;
}

.portfolio200_shadow
{
	width:220px;
	height:160px;
	margin-top:0;
	overflow: hidden;
	text-align: center;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
	position: relative;
}

.portfolio200_shadow:hover
{
	background-image: none;
}

.portfolio200_overlay
{
	width:220px;
	height:160px;
	background-color: #76bb2c;
	text-align: center;
	overflow: hidden;
	transform: translateX(-220px);
	-webkit-transform: translateX(-220px);
	-ms-transform: translateX(-220px);
	-moz-transform: translateX(-220px);
	-o-transform: translateX(-220px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out; 
    -ms-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out; 
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio200_shadow:hover .portfolio200_overlay
{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

.portfolio200_overlay .overlay_icon_circle
{
	position: relative;
	top: 34%;
}

.portfolio200_overlay .overlay_icon_circle img
{
    position: relative;
    top: 34%;
}

.portfolio200_overlay img.grid_icon
{
	position: absolute;
	top: 76%;
	left: 6%;
	width: 28px;
	height: auto;
}

.portfolio200_overlay .grid_content
{
	position: absolute;
	top: 8%;
	left: 6%;
	color: #ebebeb;
	font-size: 12px;
	font-style: italic;
	text-align: left;
}

.portfolio200_overlay .grid_content h5
{
	color: #fff;
	font-style: normal;
}

.portfolio200_shadow img
{
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
}

.portfolio200_shadow:hover img.portfolio_img
{
	transform: translateX(220px);
	-webkit-transform: translateX(220px);
	-ms-transform: translateX(220px);
	-moz-transform: translateX(220px);
	-o-transform: translateX(220px);
    transition-delay: 0.1s;
}

.portfolio305_shadow
{
	width: 305px;
	height: 220px;
	margin-top:0;
	overflow: hidden;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
	position: relative;
	text-align: center;
}

.portfolio305_shadow:hover
{
	background-image: none;
}

.portfolio305_overlay
{
	width:305px;
	height:220px;
	background-color: #76bb2c;
	text-align: center;
	overflow: hidden;
	transform: translateX(-305px);
	-webkit-transform: translateX(-305px);
	-ms-transform: translateX(-305px);
	-moz-transform: translateX(-305px);
	-o-transform: translateX(-305px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out; 
    -ms-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out; 
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio305_shadow:hover .portfolio305_overlay
{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

.portfolio305_overlay .overlay_icon_circle
{
	position: relative;
	top: 38%;
}

.portfolio305_overlay .overlay_icon_circle img
{
    position: relative;
    top: 38%;
}

.portfolio305_shadow.mansory, .portfolio305_overlay.mansory
{
	height: 460px;
}

.portfolio305_shadow.mansory_desc, .portfolio305_overlay.mansory_desc
{
	height: 539px;
}

.portfolio305_overlay.mansory_desc .overlay_icon_circle
{
    position: relative;
    top: 41%;
}

.portfolio305_shadow img
{
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
}

.portfolio305_shadow:hover img.portfolio_img
{
	transform: translateX(305px);
	-webkit-transform: translateX(305px);
	-ms-transform: translateX(305px);
	-moz-transform: translateX(305px);
	-o-transform: translateX(305px);
    transition-delay: 0.1s;
}

.portfolio305_overlay img.grid_icon
{
	position: absolute;
	top: 75%;
	left: 6%;
	width: 36px;
	height: auto;
}

.portfolio305_overlay.mansory img.grid_icon
{
	top: 86%;
}

.portfolio305_overlay .grid_content
{
	position: absolute;
	top: 8%;
	left: 6%;
	color: #ebebeb;
	font-size: 13px;
	font-style: italic;
	text-align: left;
}

.portfolio305_overlay.mansory .grid_content
{
	top: 5%;
}

.portfolio305_overlay .grid_content h3
{
	color: #fff;
	font-style: normal;
}

.portfolio_desc_305
{
	width: 285px;
	margin-bottom: 25px;
}

.portfolio460_shadow
{
	width:470px;
	height:300px;
	margin-top:0;
	overflow: hidden;
	text-align: center;
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
	position: relative;
}

.portfolio460_shadow:hover
{
	background-image: none;
}

.portfolio460_overlay
{
	width:470px;
	height:300px;
	background-color: #76bb2c;
	text-align: center;
	overflow: hidden;
	transform: translateX(-470px);
	-webkit-transform: translateX(-470px);
	-ms-transform: translateX(-470px);
	-moz-transform: translateX(-470px);
	-o-transform: translateX(-470px);
    opacity: 1;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio460_shadow:hover .portfolio460_overlay
{
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

.portfolio460_overlay .overlay_icon_circle
{
	position: relative;
	top: 41%;
}

.portfolio460_overlay .overlay_icon_circle img
{
	position: relative;
	top: 41%;
}

.portfolio460_overlay img.grid_icon
{
	position: absolute;
	top: 76%;
	left: 6%;
}

.portfolio460_overlay .grid_content
{
	position: absolute;
	top: 8%;
	left: 6%;
	color: #ebebeb;
	font-size: 13px;
	font-style: italic;
	text-align: left;
}

.portfolio460_overlay .grid_content h3
{
	color: #fff;
	font-style: normal;
	font-size: 24px;
}

.portfolio460_shadow img
{
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
}

.portfolio460_shadow:hover img.portfolio_img
{
	transform: translateX(470px);
	-webkit-transform: translateX(470px);
	-ms-transform: translateX(470px);
	-moz-transform: translateX(470px);
	-o-transform: translateX(470px);
    transition-delay: 0.1s;
}

.portfolio642_shadow
{
	width:920px;
	height:424px;
	margin-top:0;
	text-align: center;
	overflow: hidden;
}

.portfolio642_shadow img
{
	margin-top: 0;
	border: 0;
}

.portfolio642_overlay
{
	width:920px;
	height:400px;
	position: relative;
	margin-top: -406px;
	opacity: 0;
	filter: alpha(opacity = 0);
	background: #272625 url('../images/portfolio_overlay_pattern.png') repeat;
}

.portfolio642_overlay img
{
	position: relative;
	top: 46%;
	left: -100%;
}

.portfolio480_shadow
{
	width:480px;
	height:322px;
	margin-top:0;
}

.portfolio480_shadow img
{
	margin-top: 0;
	border: 0;
}

.portfolio480_overlay
{
	width:480px;
	height:306px;
	position: relative;
	margin-top: -311px;
	opacity: 0;
	filter: alpha(opacity = 0);
	background: #272625 url('../images/portfolio_overlay_pattern.png') repeat;
}

.portfolio480_overlay img
{
	position: relative;
	top: 47%;
	left: 48%;
}

.portfolio220_shadow
{
	width:220px;
	height:143px;
	margin-top:0;
}

.portfolio220_overlay
{
	width:220px;
	height:143px;
	position: relative;
	margin-top: -149px;
	opacity: 0;
	filter: alpha(opacity = 0);
	background: #272625 url('../images/portfolio_overlay_pattern.png') repeat;
}

.portfolio220_overlay img
{
	position: relative;
	top: 43%;
	left: 46%;
}

.portfolio220_shadow img
{
	margin-top: 0;
	border: 0;
}

.home_portfolio
{
	width:100%;
	background: transparent;
	text-align: center;
	float: left;
}

.home_portfolio.three_fourth
{
	width: 74%;
	float: right;
}

.home_portfolio h5
{
	margin-top: 5px;
	font-size: 22px;
	text-align: left;
	width: 100%;
}

.portfolio_desc p
{
	padding: 0;
	margin: 0;
}

.portfolio_grid4
{
	margin-bottom: 25px;
}

.portfolio_grid3
{
	margin-bottom: 20px;
}

.portfolio_grid2
{
	margin-bottom: 25px;
}

.home_portfolio img.frame
{
	padding: 4px;
	background: #ebebeb;
	-moz-box-shadow: 0 0 0 #000;
 	-webkit-box-shadow: 0 0 0 #000;
 	box-shadow: 0px 0 0 #000;
 	border: 0;
 	position:relative;
 	border: 1px solid #ccc;
}

.home_portfolio .below_shadow
{
	height: 150px;
	background: transparent url("../images/portfolio_shadow.html") no-repeat 20px 132px;
}

.standard_wrapper
{
	width: 100%;
	margin: auto;
}

.portfolio-content
{
	margin-top: 15px;
}

.standard_wrapper.fullwidth
{
	margin-top: 15px;
}

.top_shadow, #content_wrapper.top_shadow
{
	background: transparent url("../images/top_shadow.html") repeat-x top;
	height: 50px;
}

.bottom_shadow, #content_wrapper.bottom_shadow
{
	background: transparent url("../images/bottom_shadow.html") repeat-x top;
	height: 50px;
}

#content_wrapper.top_shadow
{
	padding-bottom: 0;
}

#content_wrapper.top_shadow .inner_wrapper
{
	padding-top: 20px;
}

.portfolio_image
{
	position: relative;
}

.highlight_yellow
{
	background: #FF9;
}

.highlight_black
{
	background: #000;
	color: #fff;
}

.quote_text
{
	font-size: 22px;
	font-style: italic;
	font-family: Georgia, Times, serif;
	color: #959595;
	font-weight: normal;
}

.tipsy { padding: 5px; font-size: 11px; background-repeat: no-repeat; background-image: url(../images/tipsy.gif); }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }

.portfolio_title
{
	display: block;
}

.post_info
{
	font-family: Georgia, Times, serif;
	font-style: italic;
	word-spacing: 2px;
	color: #B1B1B1;
}

.img_fade
{
	opacity: .5;
}

.img_fade.left
{
	opacity: .5;
	float:left;
}

.tipsy
{
	display:block;
	float: left;
}

.slide_video_wrapper
{
	width: 900px;
	height: 340;
	-webkit-box-shadow: 3px 0 20px #000;
	-moz-box-shadow: 3px 0 20px #000;
	box-shadow: 3px 0 20px #000;
	margin: auto;
	margin-top: 10px;
}

#map_contact
{
	width: 100%;
	height: 350px;
	margin: auto;
}

.ui-accordion .ui-accordion-header a
{
	text-transform: none;
	letter-spacing: 0;
	margin: 5px 0 0 30px;
	color: #636363;
	font-weight: bold;
}

.ui-accordion .ui-accordion-content
{
	padding-left: 25px;
	margin-left: 15px;
}

.ui-state-default .ui-icon
{
	background: transparent url('../images/icon_plus.png') no-repeat center center;
}

.ui-state-active .ui-icon
{
	background: transparent url('../images/icon_minus.png') no-repeat center center;
}

.ui-accordion .ui-accordion-header .ui-icon
{
	left: 5px;
}

body.home .sidebar_content .one_fourth_normal img, body.home .sidebar_content .one_fourth_normal
{
	width: 130px;
	height: 80px;
}

body.home .sidebar_content .one_third_img img, body.home .sidebar_content .one_third_img
{
	width: 180px;
	height: 110px;
}

#content_wrapper ul.filter
{
	list-style: none;
	display: block;
	margin: 0 0 20px 0;
	padding: 10px 0 10px 0;
	float: left;
	width: 100%;
}

.portfolio_sub_header
{
	font-size: 14px;
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
	float: left;
	margin-top: 8px;
}

.filter li
{
	margin: 0 0 0 0;
	padding-right: 10px;
	float: left;
	font-size: 12px;
}

.filter li:first-child
{
	margin: 0;
	border-right: 0;
}

.filter li a
{
	font-size: 12px;
	padding: 10px 5px 10px 5px;
}

.filter li .separator
{
	color: #ccc;
	display: none;
}

.filter li:last-child .separator
{
	display: none;
}

.filter li a:hover
{
	border-bottom: 3px solid #e9ecec;
}

.filter li a.active
{
	color: #76bb2c;
	border-bottom: 3px solid #76bb2c;
}

.gallery-caption
{
	font-weight: bold;
}

strong.line
{
	border-bottom: 1px solid #ebebeb;
	display: block;
	padding: 0 0 10px 0;
	margin: 0;
}

#galleria_slide .galleria-container
{
	margin: auto;
}

.galleria-container
{
	background: #fff;
	border: 1px solid #E1E1E1;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.post_info_wrapper
{
	width: 90px;
	margin-right: 5px;
	float: left;
}

.post_date
{
	width: 70px;
	margin-right: 20px;
	float:left;
	color: #000;
	background: #fff;
	position: absolute;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	font-family: 'Open Sans',Arial,Tahoma,Verdana,sans-serif;
	right: -20px;
	top: 33%;
}

.post_third_img_wrapper .post_date
{
	top: 33%;
}

.post_half_img_wrapper .post_date
{
	top: 52%;
}

.post_full_img_wrapper .post_date
{
	top: 34%;
}

.post_date.thumb
{
	margin-top: 0;
	position: static;
	margin-right: 5px;
}

.post_date .month
{
	width: 100%;
	font-size: 20px;
	text-align: center;
	margin-top: -10px;
}

.post_date .year
{
	width: 100%;
	font-size: 18px;
	text-align: center;
	color: #666;
	margin-top: -5px;
}

.post_date .date
{
	width: 100%;
	font-size: 46px;
	text-align: center;
	letter-spacing: -2px;
}

.post_date_comment
{
	width: 60px;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin-top: 5px;
	background: #fff;
	color: #999;
	padding: 10px 5px 10px 5px;
}

.middle
{
	vertical-align: -5%;
	margin-right: 5px;
}

.map_shadow
{
	width: 960px;
	height: 370px;
	margin-top: 15px;
}

.map_shadow.fullwidth
{
	width: 960px;
	margin: auto;
	margin-top: 5px;
}

.map_shortcode_wrapper
{
	
}

.tagline_wrapper
{
	width: 100%;
	float: left;
	margin: 0;
}

.tagline
{
	float: left;
	width: 100%;
	padding: 10px 0 45px 0;
	margin-top: 0;
	color: #bebebe;
	font-size: 20px;
	text-align: center;
}

.tagline_header
{
	font-weight: 600;
	letter-spacing: -1px;
	font-size: 32px;
	color: #333;
}

.tagline p
{
	padding: 0;
	margin: -5px 0 0 0;
}

.caption_inner
{
	width: 960px;
	margin: auto;
}

.caption_header
{
	margin-top: 10px;
	min-height: 78px;
}

.caption_header, .caption_header a
{
	
}

.caption_header h1
{
	font-size: 36px;
	font-weight: 600;
	color: #76bb2c;
	margin: 0 0 0 0;
	text-transform: none;
}

.caption_header h1.withbg
{
	background: #76bb2c;
	color: #fff;
	padding: 3px 10px 5px 10px;
	margin-left: 20px;
	display: inline-block;
	font-size: 20px;
}

.page_description.withbg
{
	background: #fff;
	padding: 3px 10px 5px 10px;
	margin-left: -5px;
	display: inline-block;
}

.page_description
{
	font-size: 20px;
	color: #bebebe;
	margin: -5px 0 40px 0;
}

h6.portfolio_header
{
	font-size: 14px;
	text-transform: none;
	font-weight: bold;
}

#commentform
{
	margin-top: 25px;
}

#option_btn
{
	position: fixed;
	top: 105px;
	left: 0;
	cursor:pointer;
	z-index: 999;
}

#option_wrapper
{
	position: fixed;
	top: 90px;
	left:-245px;
	width: 240px;
	padding: 19px 0 23px 0;
	background: #fff;
	z-index: 9999999;
	color: #666;
	border: 1px solid #E1E1E1;
	-moz-box-shadow: 0 4px 25px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 4px 25px rgba(0,0,0,0.3);
	box-shadow: 0 4px 25px rgba(0,0,0,0.3);
}

#option_wrapper a
{
	font-weight: bold;
}

#option_wrapper .inner
{
	width: 80%;
	margin:auto;
}

a.skin_box
{
	display: block;
	float: left;
	width: 33px;
	height: 33px;
	margin: 5px 5px 0 0;
}

.colorpicker_preview
{
	width: 100%;
	height: 30px;
	margin: 5px 0 0 0;
}

#option_wrapper select
{
	width: 195px;
}

.option_menu_style
{
	width: 100%;
	float: left;
}

.option_menu
{
	float: left;
	width: 96px;
	margin-bottom: 5px;
}

.option_menu img
{
	width: 90px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.pp_checkbox_wrapper
{
	border: 1px solid #e5e5e5;
	margin: 3px 6px 3px 0;
}

#preview
{
	position:absolute;
	top: 107px;
	left: 114px;
	display:none;
	z-index: 999999;
	padding: 5px 5px 2px 5px;
	background: #272625;
}

#preview img
{
	z-index: 9999999;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.one_third.skin
{
	text-align: center;
	margin-top: 30px;
}

.skin_img img
{
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

#menu_border_wrapper select { 
  	display: none;
  	text-overflow: ellipsis;
  	white-space: nowrap; 
}

#widget_contact_form
{
	margin-top: 15px;
}

/* 
Recaptcha Style Captcha 
=======================
 re-Captcha Style Captcha with php and jQuery 
 
 Created By: Zeeshan Rasool 
 URL : http://www.99Points.info 
 
 Get JQuery, PHP, AJAX, Codeigniter and MYSQL Tutorials and Demos on Blog
 */
 
#captcha-wrap{
	border:solid #870500 1px;
	width:270px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#870500;
	text-align:left;
	padding:3px;
	margin-top:3px;
	height:107px;
}
#captcha-wrap .captcha-box{
	-webkit-border-radius: 7px;
	background:#fff;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align:center;
	border:solid #fff 1px;
}
#captcha-wrap .text-box{
	-webkit-border-radius: 7px;
	background:#ffdc73;
	-moz-border-radius: 7px;
	width:140px;
	height:43px;
	float:left;
	margin:4px;
	border-radius: 7px;
	text-align:center;
	border:solid #ffdc73 1px;
}

#captcha-wrap .text-box input{ 
	width:120px; 
	-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
float: none;
margin-top: -2px;
}
#captcha-wrap .text-box label{
	 color:#000000;
	 font-family: helvetica,sans-serif;
	 font-size:11px;	
	 width:140px;
	 padding-top:3px; 
	 padding-bottom:3px; 
	 margin: 0;
	 font-weight: normal;
}
#captcha-wrap .captcha-action{
	float:right; width:117px; 
	background:url(../images/logos.jpg) top right no-repeat; 
	height:44px; margin-top:3px;
}
#captcha-wrap  img#captcha-refresh{
	margin-top:9px;
	border:solid #333333 1px;
	margin-right:6px;
	cursor:pointer;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.portfolio_single_img
{
	margin-top: 10px;
	margin-bottom: 25px;
	max-width: 960px;
}

.porftolio_widget_wrapper
{
	margin-top: 15px;
}

#portfolio_filter_wrapper
{
	width: 1000px;
}

.page-template-portfolio-2-filter-php #portfolio_filter_wrapper { width: 990px; }
.page-template-portfolio-4-filter-php #portfolio_filter_wrapper { width: 995px; }

.ipad_frame
{
	width: 482px;
	height: 360px;
	background: transparent url("../images/ipad_frame.png") no-repeat;
}

.ipad_frame iframe
{
	margin-top: 36px;
}

.ipad_frame object
{
	margin: 35px 0 0 50px;
}

.shadow
{
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}

.ls-playvideo
{
	width: 32px;
	height: 32px;
	background: url(../images/icon_play.png) no-repeat;
}

.ls-nav-prev
{
	opacity: 0; width: 36px; height: 36px; margin: -13px 0 0; display: block; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;
	left: 40px; background: transparent url("../images/arrow_prev.png") no-repeat;
}

.ls-nav-next
{
	opacity: 0; width: 36px; height: 36px; margin: -13px 0 0; display: block; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;
	right: 40px; background: transparent url("../images/arrow_next.png") no-repeat;
}

a.classic
{
	float: right;
}

.ajax_portfolio_wrapper
{
	padding-bottom: 5px;
	display: none;
}

.ajax_content
{
	margin: 20px 0 20px 0;
}

.ajax_close, .ajax_close:active, .ajax_next, .ajax_next:active, .ajax_prev, .ajax_prev:active, .portfolio_single_navi a, .portfolio_single_navi a:active
{
	padding: 8px 13px 8px 13px;
	width: 10px;
	color: #777777;
	background: #f9f9f9;
	display: block;
	text-align: center;
	float: right;
	cursor: pointer;
	margin-bottom: 20px;
	right: -5px;
	margin-left: 3px;
	border-bottom: 2px solid #e4e4e4;
}

.ajax_close, .ajax_close:hover, .ajax_close:active, .ajax_next:hover, .ajax_prev:hover, .portfolio_single_navi a:hover
{
	color: #fff;
	background: #555;
	border-bottom: 2px solid #333;
}

.ajax_portfolio_wrapper #slider_wrapper
{
	margin-top: 0;
}

.portfolio_single_title 
{
	float: left;
}

.embed-container
{
	width: 900px;
	height: 506px;
}

.embed-container iframe
{
	width: 100%;
	height: 100%;
}

.slide_content_wrapper
{
	width:1020px; 
	height: 100%; 
	left: 50%; 
	margin-left: -510px;
}

.slide_content_wrapper > *
{
	position: absolute;
	left: 0px;
	top: 0px;
}

h5.service
{
	color: #fff;
	background: #000;
	top: -70px;
	display: inline-block;
	position: relative;
	padding: 3px 10px 3px 10px;
	text-transform: uppercase;
	font-size: 16px;
}

.service_content
{
	position: relative;
	top: -25px;
}

.sermon_content_each
{
	display: none;
}

.sermon_content_each.video
{
	display: block;
}

.portfolio2_wrapper
{
	width: 100%;
}

body.single-portfolios #slider_wrapper
{
	background: transparent url('../images/ajax-loader.gif') no-repeat 50% 42%;
}

.post_widget_date
{
	font-style: italic;
	font-size: 11px;
}

.service_wrapper
{
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

.ppb_title
{
	margin: 0 0 0 0;
	float: left;
}

.ppb_title.portfolio, .ppb_title.clients, .ppb_title.accordion_header
{
	margin-bottom: 40px;
}

.ppb_title.blog
{
	margin-bottom: 20px;
}

.ppb_desc
{
	margin: 9px 10px 20px 10px;
	float: left;
}

.ui-tabs
{
	top: -6px;
}

.ppb_serivce_wrapper
{
	margin-bottom: 3%;
	margin-top: 3%;
}

.ppb_serivce_wrapper p
{
	padding: 0 0 0 50px;
	display: block;
}

.ppb_serivce_wrapper p:empty {
	display: none;
}

.ppb_serivce_wrapper ul
{
	padding: 0 0 0 50px;
	margin-left: 0 !important;
	display: block;
	list-style: none;
}

.ppb_serivce_wrapper ul li
{
	border-bottom: 2px dotted #e5e5e5;
	display: block;
	padding: 7px 0;
}

#content_wrapper .ui-accordion .ui-accordion-content ul
{
	margin-left: 0;
	list-style: none;
	margin: 20px 0 25px 0;
}

.ui-accordion .ui-accordion-content ul li
{
	padding: 0 0 3px 20px;
	background: url('../images/li-arrow.png') no-repeat 0px center;
}

.ppb_serivce_wrapper ul li:last-child
{
	border: 0;
}

.service_icon
{
	float: left;
	width: 50px;
}

.service_icon img
{
	max-width: 36px;
	height: auto;
}

.portfolio_single_excerpt
{
	font-size: 16px;
	color: #999;
	margin: -22px 0 0 0;
}

.portfolio_single_navi
{
	margin-top: 10px;
	float: right;
}

#toTop 
{
	width:30px;
    background:#333;
    text-align:center;
    padding:15px 10px 10px 10px;
    position:fixed; /* this is the magic */
    bottom:0; /* together with this to put the div at the bottom*/
    right:20px;
    cursor:pointer;
    display:none;
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
}

#toTop:hover 
{
	background: #76bb2c;
}

#sc_chat_box
{
	right: 20px !important;
}

#sc_chat_box
{
	-moz-box-shadow: 0 4px 25px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 4px 25px rgba(0,0,0,0.3);
	box-shadow: 0 4px 25px rgba(0,0,0,0.3);
}

.sc-chat-header .sc-chat-header-title, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn a
{
	text-transform: uppercase;
	font-size: 14px !important;
}

#sc_chat_box p.sc-lead, #sc_chat_box .sc-chat-wrapper input, #sc_chat_box .sc-chat-wrapper textarea
{
	font-size: 13px !important;
}

#mobile_menu
{
	display: none;
}

.pp_gallery img
{
	padding: 3px;
	border: 1px solid #E5E5E5;
}

#client_wrapper
{
	width: 960px;
	min-height: 100px;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 40px;
	text-align: center;
}

#client_wrapper a.tipsy
{
	display: inline-block;
	float: none;
}

#client_wrapper img
{
	max-height: 36px;
	width: auto;
	margin-left: 15px;
	margin-right: 15px;
}

/** 
	Begin Woocommerce CSS
**/

.woocommerce-result-count
{
	display: none;
}

h1.page-title
{
	float: left;
}

.woocommerce .products ul, .woocommerce-page .products ul, .woocommerce ul.products, .woocommerce-page ul.products
{
	padding-top: 30px !important;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#content_wrapper ul.products
{
	margin-left: 0px !important;
}

.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img
{
	box-shadow: 0px 0px 0px black !important;
	width: 90% !important;
	text-align: center !important;
	margin: auto !important;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3
{
	font-size: 16px !important;
}

.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del
{
	font-size: 1em !important;
}

.woocommerce ul.products li.product .price ins, .woocommerce-page ul.products li.product .price ins, .woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price
{
	text-decoration: none !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

.woocommerce ul.cart_list li ins, .woocommerce ul.product_list_widget li ins, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li ins
{
	text-decoration: none;
	font-weight: bold;
}

.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart
{
	display: none !important;
}

.woocommerce ul.cart_list li img, .woocommerce-page ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img
{
	box-shadow: 0px 0px 0px black !important;
	-webkit-box-shadow: 0px 0px 0px black !important;
	-moz-box-shadow: 0px 0px 0px black !important;
	width: 45px;
	height: auto;
}

.woocommerce div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page #content div.product div.images img
{
	box-shadow: 0px 0px 0px black !important;
	-webkit-box-shadow: 0px 0px 0px black !important;
	-moz-box-shadow: 0px 0px 0px black !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs
{
	margin-left: 0 !important;
}

.woocommerce #content_wrapper .inner .inner_wrapper .sidebar_content h1
{
	font-size: 22px !important;
}

.woocommerce #content_wrapper .inner .inner_wrapper .sidebar_content h2
{
	font-size: 18px !important;
}

.woocommerce #content_wrapper .inner .inner_wrapper .sidebar_content h3
{
	font-size: 16px !important;
}

.woocommerce #content_wrapper .inner .inner_wrapper .sidebar_content h4
{
	font-size: 14px !important;
}

.woocommerce #content_wrapper .inner .inner_wrapper .sidebar_content h5
{
	font-size: 13px !important;
}

.woocommerce #content_wrapper .inner .inner_wrapper .sidebar_content h6
{
	font-size: 12px !important;
}

.woocommerce div.product div.images div.thumbnails a, .woocommerce-page div.product div.images div.thumbnails a, .woocommerce #content div.product div.images div.thumbnails a, .woocommerce-page #content div.product div.images div.thumbnails a
{
	margin-bottom: 3.8%;
}

div[itemprop="description"]
{
	margin: 5px 0 10px 0;
}

.woocommerce .widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total
{
	font-size: 14px !important;
	color: #000;
	padding-top: 10px !important;
}

.woocommerce .widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total
{
	border-color: #E5E5E5 !important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range
{
	background: #f1f1f1 !important;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5) !important;
	-webkit-box-shadow: inset 0 0 0 1px rgba(204, 204, 204, 0.5) !important;
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5) !important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle
{
	border: 1px solid #cecece !important;
	background: #e4e4e4 !important;
	box-shadow: none !important;
}

.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus, .woocommerce .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus, .woocommerce .quantity .minus:hover, .woocommerce #content .quantity .minus:hover, .woocommerce-page .quantity .minus:hover, .woocommerce-page #content .quantity .minus:hover, .woocommerce .quantity .plus:hover, .woocommerce #content .quantity .plus:hover, .woocommerce-page .quantity .plus:hover, .woocommerce-page #content .quantity .plus:hover
{
	border-color: #c7c0c7 !important;
	background: #f7f6f7 !important;
	color: #5e5e5e !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#f7f6f7),to(#dfdbdf)) !important;
	background: -webkit-linear-gradient(#f7f6f7,#dfdbdf) !important;
	background: -moz-linear-gradient(center top,#f7f6f7 0%,#dfdbdf 100%) !important;
	background: -moz-gradient(center top,#f7f6f7 0%,#dfdbdf 100%) !important;
}

.woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button, .woocommerce ul.products li.product a.add_to_cart_button.loading, .woocommerce-page ul.products li.product a.add_to_cart_button.loading, .woocommerce ul.products li.product a.add_to_cart_button:hover, .woocommerce-page ul.products li.product a.add_to_cart_button:hover, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button
{
	background: #000 !important;
	color: #fff !important;
	text-shadow: none !important;
	border-color: #000 !important;
	text-transform: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	font-weight: normal !important;
}

.woocommerce .widget_shopping_cart .widget_shopping_cart_content a.button, .woocommerce table.cart td.actions .button.alt.checkout-button, .woocommerce #payment #place_order, .woocommerce-page #payment #place_order, .woocommerce table.cart td.actions .button.alt
{
	background: #ef3b24 !important;
	color: #fff !important;
	text-shadow: none !important;
	border-color: #ef3b24 !important;
	text-transform: none !important;
	font-weight: normal !important;
}

.woocommerce div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce-page #content div.product form.cart .button
{
	text-transform: none !important;
	font-weight: normal !important;
}

.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a
{
	font-weight: normal !important;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img
{
	width: 60px !important;
	float: left !important;
	margin-right: 15px !important;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button
{
	font-family: 'Open Sans',Arial,Tahoma,Verdana,sans-serif;
	text-transform: uppercase !important;
}

.woocommerce #reviews #comments ol.commentlist, .woocommerce-page #reviews #comments ol.commentlist
{
	margin-top: 20px !important;
}

.cart-collaterals .cart_totals table {
	width: 100% !important;
}

.woocommerce .related ul.products li.product, .woocommerce .related ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .upsells.products ul.products li.product, .woocommerce-page .upsells.products ul li.product {
	width: 22.05% !important;
}

.woocommerce table.cart a.remove, .woocommerce #content table.cart a.remove, .woocommerce-page table.cart a.remove, .woocommerce-page #content table.cart a.remove
{
	color: #999 !important;
}

.woocommerce table.cart a.remove:hover, .woocommerce #content table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover
{
	color: #fff !important;
}

.woocommerce form .form-row, .woocommerce-page form .form-row
{
	margin-top: 15px !important;
}

.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button
{
	font-weight: normal !important;
	text-transform: none !important;
}

.woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce-page .cart .button, .woocommerce-page .cart input.button
{
	text-transform: none !important;
}

#content_wrapper .sidebar .content .sidebar_widget li ul.product_list_widget li
{
	padding-left: 0 !important;
	background-image: none !important;
}

h3#order_review_heading
{
	margin: 15px 0 15px 0 !important;
}

#content_wrapper ul.order_details
{
	margin-left: 0 !important;
}

dl.customer_details
{
	margin: 20px 0 20px 0;
}

.sidebar_widget > li.widget_product_search
{
	background: none !important;
	padding-left: 12px !important;
	float: left;
	width: 100%;
	border-bottom: 0;
	margin-left: 8px;
}

/** 
	End Woocommerce CSS
**/